/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.header {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px; /* Adjust as needed */
}

.save-btn {
  cursor: pointer;
  background-color: #00ffb9;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.center {
  margin-top: 20px;
  /* display: flex;
  flex-wrap: wrap; */
}

.right {
  flex: 0 0 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close {
  cursor: pointer;
}

.form {
  flex: 1;
  padding-left: 20px;
}

.heading {
  font-size: 24px;
  margin-bottom: 10px;
}

.data {
  margin-bottom: 10px;
}

.options {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.options label {
  width: 150px;
  margin-right: 10px;
}

.options input,
.options textarea,
.options select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.options span {
  margin-left: 10px;
  cursor: pointer;
}

.status,
.location {
  display: flex;
  flex-wrap: wrap;
}

.status button,
.location button {
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px 12px;
  background-color: #00ffb9;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.status button:hover {
  background-color: #f0f0f0;
}
.location button:hover {
  background-color: #f0f0f0;
}

.optional {
  margin-top: 20px;
}

.optional h3 {
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-icon {
  margin-left: 5px;
  transition: transform 0.3s ease;
}

.rotate-icon {
  transform: rotate(180deg);
}

.dropdown-container {
  padding-left: 20px;
  border-left: 2px solid #ccc;
  margin-bottom: 10px;
  display: none;
}

.dropdown-container.open {
  display: block;
}

.bottom {
  margin-top: 20px;
}

.bottom button {
  padding: 10px 20px;
  background-color: rgb(128, 128, 161);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.bottom button:hover {
  background-color: #212a88;
}

.last {
  margin-top: 20px;
  text-align: center;
}

.last button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.last button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .center {
    flex-direction: column;
  }

  .right {
    width: 100%;
    margin-bottom: 20px;
  }

  .form {
    padding-left: 0;
  }

  .optional .dropdown-container {
    padding-left: 0;
    border-left: none;
  }
}
