.container {
    width: 100dvw;
    padding: 2rem;
    box-sizing: border-box;
}

.table {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* overflow-x: scroll; */
}

.table .header {
    display: flex;
    background-color: rgb(158, 205, 78);
}

.table .header .headerCell {
    border-right: 2px solid gray;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray; 
    padding: .5rem;
    /* text-wrap: nowrap; */
    font-weight: 900;
    /* width: 5rem; */
}

.headerCell:first-child {
    border-left: 2px solid gray;
}

.table .data {
    display: flex;
    cursor: pointer;
}

.table .data:hover {
    background-color: rgba(182, 172, 172, 0.811);
}

.table .data .dataCell {
    border-right: 2px solid gray;
    border-bottom: 2px solid gray; 
    padding: .5rem;
    /* text-wrap: nowrap; */
    word-wrap: break-word;
    /* width: 5rem; */
}

.tagAssetBtn {
    background-color: greenyellow;
    width: fit-content;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    box-shadow: 3px 3px 2px rgb(120, 172, 89);
    cursor: pointer;
}

.noData {
    margin: 1rem;
}

.dataCell:first-child {
    border-left: 2px solid gray;
}

.dataCell:nth-child(1), .headerCell:nth-child(1) {
    min-width: 8rem;
}

.dataCell:nth-child(2), .headerCell:nth-child(2) {
    width: 5rem;
}

.dataCell:nth-child(3), .headerCell:nth-child(3) {
    width: 3rem;
}

.dataCell:nth-child(4), .headerCell:nth-child(4) {
    width: 8rem;
}
.dataCell:nth-child(5), .headerCell:nth-child(5) {
    width: 6rem;
}
.dataCell:nth-child(6), .headerCell:nth-child(6) {
    width: 5rem;
}
.dataCell:nth-child(7), .headerCell:nth-child(7) {
    width: 10rem;
}
.dataCell:nth-child(8), .headerCell:nth-child(8) {
    width: 3rem;
}
.dataCell:nth-child(9), .headerCell:nth-child(9) {
    width: 5rem;
}
.dataCell:nth-child(10), .headerCell:nth-child(10) {
    width: 5rem;
}
.dataCell:nth-child(11), .headerCell:nth-child(11) {
    width: 3rem;
}
.dataCell:nth-child(12), .headerCell:nth-child(12) {
    width: 3rem;
}