/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif, "Tilt Neon", sans-serif;
  text-decoration: none;
}

:root {
  --grid-width: 100vw;
  --grid-columns-count: 36;
}

/* Container */
.container {
  width: 100dvw;
  /* padding: 2rem; */
  box-sizing: border-box;
}

/* Header */
.header_top {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns-count), 1fr);
  align-items: center;
  width: 100%;
  height: 65px;
  background-color: #000028;
}

.logo_container {
  grid-column: 2 / 7;
}

.logo img {
  width: 100px;
  height: 25px;
}

.right {
  grid-column: 35 / 36;
  display: flex;
  justify-content: flex-end;
}

.fa-solid {
  color: white;
  font-size: 22px;
  cursor: pointer;
}

.header_2 {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.searchInput {
  padding: 10px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tagAssetBtn {
  padding: 10px 20px;
  background-color: #00ffb9;
  color: #131010;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin: auto;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

.noData {
  text-align: center;
  padding: 20px;
}

.table th {
  background-color: #f8f9fa;
  cursor: pointer;
}

.table th span {
  margin-left: 5px;
}

.data {
  cursor: pointer;
}

.data:hover {
  background-color: rgba(182, 172, 172, 0.811);
}

.heading {
  background-color: #222831;
  color: white;
  width: 100%;
  height: 40px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  padding-left: 11px;
}

h4 {
  margin: 0;
}

/* Layout */
.secLan {
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}

.secondRow,
.pai1 {
  box-sizing: border-box;
  overflow: hidden;
  border: 2px solid gray;
  border-radius: 10px;
  flex-direction: column;
  width: 90%;
  margin: 0 20px 0 0;
  display: flex;
  height: 400px;
}

.pai1 {
  width: 40%;
  height: 350px;
}

.thirdRow,
.fourthRow {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.underThird,
.underfourth {
  margin: 10px;
  width: 500px;
  height: 150px;
  border: 2px solid grey;
  border-radius: 10px;

  text-align: center;
}

.fourthRow {
  height: 550px;
}

.underfourth {
  height: 350px;
}

.Lastlan {
  display: flex;
}

.last2 {
  width: 65%;
  height: 350px;
  border: 2px solid grey;
  border-radius: 10px;
  margin: 21px 0 0 21px;
}

.last button {
  margin: 20px;
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 200px;
  height: 50px;
  background-color: #eeeeee;
  border: none;
  outline: none;
  border-radius: 2px;
  z-index: 1;
}

.last button a {
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #222831;
}

.last button:hover {
  min-width: 205px;
  height: 53px;
  cursor: pointer;
  background-color: #00ffb9;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header_2 {
    flex-direction: column;
    align-items: center;
  }

  .searchInput {
    width: 100%;
    margin-bottom: 10px;
  }

  .secLan {
    flex-direction: column;
    align-items: center;
  }

  .secondRow,
  .pai1,
  .underThird,
  .underfourth {
    width: 90%;
    margin: 10px 0;
  }

  .thirdRow,
  .fourthRow {
    flex-direction: column;
    align-items: center;
  }

  .right {
    justify-content: center;
  }
}
